/* Header.jsx e style */
.toll-bar{
    background-color: #222f3e;
    color: #fff;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    cursor: pointer;
}
/* Header.jsx e style end  */

/* Sidebar.jsx e style */
.sidebar{
    position: absolute;
    background-color: #222f3e;
    color: #fff;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    z-index: 99;

    /* li er lekha gula hite kora jonno */
    transform: translateX(-100%);
    transition: all 0.8s;
}
.sidebar li{
    list-style: none;
    padding: 1rem 2rem;
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}

.sidebar li:hover{
    background-color: #fff;
    color: #000;
}

.sidebar-open{
    transform: translateX(0%)
}

/* Sidebar.jsx e style end */

/* Backdrop.jsx er style */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.backdrop-open{
    display: block;
}

/* Backdrop.jsx er style end */


/* sidebar e authentication er button er style */
.authentication-button{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2rem;
    width: 80%;
    margin: auto;
    gap: 10px;
}
/* sidebar e authentication er button er style */